<mat-toolbar color="" class="navbar">
    <div>GetRidofCOVID19</div>
    <div>
        <span title="Helpdesk" class="nav-item"><i class="fas fa-ambulance fa-lg"></i></span>
        <span title="Connect with youtube" class="nav-item"><i class="fab fa-youtube fa-lg"></i></span>
        <span title="Connect with facebook" class="nav-item"><i class="fab fa-facebook-square fa-lg"></i></span>
        <span title="Connect with instagram" class="nav-item"><i class="fab fa-instagram fa-lg"></i></span>
        <span title="Connect with twitter" class="nav-item"><i class="fab fa-twitter fa-lg"></i></span>
        <span class="nav-item"><i class="fas fa-bars fa-lg"></i></span>
    </div>
</mat-toolbar>