.navbar {
    justify-content: space-between;
    background-color: #024289;
}

.nav-item{
    padding-right: 1rem;
    transition-delay: 300;
}

.nav-item a{
    color:white;
}

.nav-item a:hover{
    color: grey;
}