<mat-toolbar color="primary" class="navbar">
    <div>GetRidofCOVID19</div>
    <div>
        <span class="nav-item"><i class="fas fa-ambulance fa-lg"></i></span>
        <span class="nav-item"><i class="fab fa-youtube fa-lg"></i></span>
        <span class="nav-item"><i class="fab fa-facebook-square fa-lg"></i></span>
        <span class="nav-item"><i class="fab fa-instagram fa-lg"></i></span>
        <span class="nav-item"><i class="fab fa-twitter fa-lg"></i></span>
        <span class="nav-item"><i class="fas fa-bars fa-lg"></i></span>
    </div>
</mat-toolbar>