<mat-toolbar color="" class="navbar">
    <div><span class="nav-item"><i class="fas fa-bars fa-lg"></i></span><span>GetRidofCOVID19</span></div>
    <div>
        <span title="Helpdesk" class="nav-item"><a href="#"><i class="fas fa-ambulance fa-lg"></i></a></span>
        <span title="Connect with youtube" class="nav-item"><a href="#"><i class="fab fa-youtube fa-lg"></i></a></span>
        <span title="Connect with facebook" class="nav-item"><a href="#"><i class="fab fa-facebook-square fa-lg"></i></a></span>
        <span title="Connect with instagram" class="nav-item"><a href="#"><i class="fab fa-instagram fa-lg"></i></a></span>
        <span title="Connect with twitter" class="nav-item"><a href="#"><i class="fab fa-twitter fa-lg"></i></a></span>
    </div>
</mat-toolbar>