<div class="section guide-container" id="ImportantGuidelines">
    <div class="text-center">
        <h3 class="subtitle">
            Important Guidelines
        </h3>
    </div>
    <div class="container guide-container">
        <div class="row info">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <i class="far fa-file-pdf fa-5x"></i>
                    </div>
                    <div class="col-md-8">
                        <a href="https://static.mygov.in/rest/s3fs-public/mygov_158694130451307401.pdf">MHA consolidated
                            Revised
                            guidelines on the measures for containment of COVID-19</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <i class="far fa-file-pdf fa-5x"></i>
                    </div>
                    <div class="col-md-8">
                        <a href="https://www.youtube.com/watch?v=Q-Iy7ccCpS4&feature=youtu.be">Know how to use your own
                            homemade Reusable face cover</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <i class="far fa-file-pdf fa-5x"></i>
                    </div>
                    <div class="col-md-8">
                        <a href="https://www.mygov.in/aarogya-setu-app?app=aarogya">AarogyaSetu App
                            for staying informed and alert against COVID19. </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <i class="far fa-file-pdf fa-5x"></i>
                    </div>
                    <div class="col-md-8">
                        <a href="https://www.mohfw.gov.in/pdf/HFMLettergeneralawarness.pdf">A letter from hfm to Health
                            Administrators</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row info">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <i class="far fa-file-pdf fa-5x"></i>
                    </div>
                    <div class="col-md-8">
                        <a href="https://www.youtube.com/playlist?list=PL1a9DHjZmejE-Ep2PAu2OR8HBfLP0BLIk">Watch all
                            COVID-19 management videos here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <i class="far fa-file-pdf fa-5x"></i>
                    </div>
                    <div class="col-md-8">
                        <a href="https://www.mohfw.gov.in/pdf/Poster1GHFanDHGA.pdf">What is Novel Coronavirus?</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <i class="far fa-file-pdf fa-5x"></i>
                    </div>
                    <div class="col-md-8">
                        <a href="https://www.mohfw.gov.in/pdf/FINAL_14_03_2020_ENg.pdf">When to get tested for COVID-19
                            (English) </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <i class="far fa-file-pdf fa-5x"></i>
                    </div>
                    <div class="col-md-8">
                        <a href="https://www.mohfw.gov.in/pdf/MoHFWCOVIDNODALOFFICER.pdf">Handling Public Grievances
                            pertaining to COVID-19</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="container poster col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="../../assets/images/guidelines/how-it-soreads-1.png">
                    </div>
                </div>
            </div>
            <div class="container poster col-md-6">
                <div class="row text-center ">
                    <div class="poster-heading-1">
                        <h5>HOW IT SPREADS</h5>
                    </div>
                    <div class="col-md-12">
                        <img src="../../assets/images/guidelines/how-it-soreads-2.png">
                    </div>
                </div>
                <div class="row text-center ">
                    <div class="poster-heading-2">
                        <h5>PREVENTIONS</h5>
                    </div>
                    <div class="col-md-12">
                        <img src="../../assets/images/guidelines/how-it-soreads-3.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>