.info{
    margin-bottom: 30px;
}

.info a{
    text-decoration: none;
    color: #212529;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.info a:hover{
    color: #024289;
}

.container {
    padding: 30px;
    background-color: #F2F6EC;
}
