<div class="section">
    <div class="subtitle text-center">
        Myth Busters
    </div>
    <div class="container myth">
        <div class="row heading">
            <h4>There are several myths about novel corona virus</h4>
        </div>
        <div class="row paragraph">
            <p>People of all ages CAN be infected by the coronavirus. Older people, and people with pre-existing medical
                conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely
                ill with the virus.</p>
        </div>
        <div class="row">
            <button class="btn-blue">
                View Facts
            </button>
        </div>
    </div>
</div>