<div class="section">
    <div class="subtitle text-center">
        <h1>Myth Busters</h1>
    </div>
    <div class="container myth">
        <div class="row heading">
            <h4>There are several myths about novel corona virus</h4>
        </div>
        <div class="row paragraph">
            <p>People of all ages CAN be infected by the coronavirus. Older people, and people with pre-existing medical
                conditions (such as asthma, diabetes, heart disease) appear to be more vulnerable to becoming severely
                ill with the virus.</p>
        </div>
        <div class="row">
            <button class="btn-blue" type="button" data-toggle="modal" data-target="#facts">
                View Facts
            </button>
        </div>
    </div>
    <div class="modal fade" id="facts" tabindex="-1" role="dialog" aria-labelledby="facts" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="facts">Myth-Busters</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_1.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">Cold weather and snow CANNOT kill the CoronaVirus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_2.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">Hand dryers are NOT effective in killing the coronavirus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_3.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">There is NO evidence that regularly rinsing the nose with saline has protected people from infection with the coronavirus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_4.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">The coronavirus CAN be transmitted in areas with hot and humid climates.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_5.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">Ultraviolet light SHOULD NOT be used for sterilization and can cause skin irritation.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_6.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">Garlic is healthy but there is NO evidence from the current outbreak that eating garlic has protected people from the coronavirus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_7.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">The coronavirus CAN be transmitted in areas with hot and humid climates.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_8.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">The coronavirus CANNOT be transmitted through mosquito bites.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_9.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">Thermal scanners CAN detect if people have a fever but CANNOT detect whether or not someone has the coronavirus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_10.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">Antibiotics DO NOT work against viruses, antibiotics only work against bacteria.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_11.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">There is NO evidence that companion animals/pets such as dogs or cats can transmit the coronavirus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_12.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">To date, there is NO specific medicine recommended to prevent or treat the coronavirus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_13.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">Taking a hot bath DOES NOT prevent the coronavirus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="myth-img" src="../../assets/images/facts/dis_type_14.png">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="myth-fact">Vaccines against pneumonia, such as pneumococcal vaccine and Haemophilus influenzae type b (Hib) vaccine, DO NOT provide protection against the coronavirus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span>Notice: Content is Sourced from <a href="https://www.who.int/">World Health Organization</a></span>
                </div>
            </div>
        </div>
    </div>
</div>