<div class="section">
    <div class="subtitle text-center">
        <h1>
            Join the War
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="war-img img-fluid" src="../../assets/images/register_volunteer.jpg">
            </div>
            <div class="col-md-4">
                <img class="war-img img-fluid" src="../../assets/images/register_volunteer_2.jpg">
            </div>
            <div class="col-md-4">
                <img class="war-img img-fluid" src="../../assets/images/register_volunteer_3.jpg">
            </div>
        </div>
    </div>
</div>